
*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main{
    display: flex;
    justify-content: center;
}

.box{ 
    height: 320px;
    width: 220px;
    background-color: rgb(59, 56, 56);
    margin: 10px; 
    border-radius: 15px;
}


#logo1{
    height: 50px;
    width: 50px;
    margin: 30px 0px 0px 30px;
}



.gd{
    margin: 30px 0px 0px 30px;
    color: aliceblue;
    display: flex;
    align-items: left;
    justify-content: left;

}

.para1 {
    margin: 15px 0px 0px 30px;
    color: white;
    font-size: 20px;
    font-weight: 500;

}

.para2 {
    margin: 20px 0px 0px 30px;
    color: white;
    font-size: 20px;
    font-weight: 500;

}


.para3 {
    margin: 20px 0px 0px 30px;
    color: white;
    font-size: 20px;
    font-weight: 500;

}


.para4 {
    margin: 10px 0px 0px 30px;
    color: white;
    font-size: 20px;
    font-weight: 500;

}